@import "tailwindcss";

@theme {
  --color-primary: #f0ebd8ff;
  --color-secondary: #cfcdcd55;

  --color-ink-black: #0d1321ff;
  --color-deep-space-blue: #1d2d44ff;
  --color-blue-slate: #3e5c76ff;
  --color-dusty-denim: #748cabff;
}

#root {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 4rem;
}

@media (max-width: 640px) {
  #root {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4rem;
  }
}
